html
  head
    title= title
    style
      include ../static/output.css
  body.flex.flex-col.gap-12.justify-center.p-12.bg-gray-700.text-center.border-8.border-gray-500.text-6xl
    h1.p-8.font-bold.text-gray-400= message
    
    #cam-display.flex.justify-center.items-center.p-32.text-gray-500.font-bold.text-9xl.bg-gray-900.uppercase.bg-cover.bg-center.bg-no-repeat(class="aspect-[5/3]") CAM #
    
    #message-display.flex.justify-center.items-center.p-32.text-gray-500.font-bold.text-8xl.bg-gray-800.uppercase.bg-no-repeat(class="aspect-[6/5]") MSG
  
    div.flex.flex-col.gap-12.justify-center
      // (class="max-w-[800px]")
      a#cam-1.p-12.bg-gray-600.text-7xl.font-bold(class="hover:bg-gray-400" href='javascript:void(0)') CAM-1
      
      a#cam-2.p-12.bg-gray-600.text-7xl.font-bold(class="hover:bg-gray-400" href='javascript:void(0)') CAM-2
      
      a#cam-3.p-12.bg-gray-600.text-7xl.font-bold(class="hover:bg-gray-400" href='javascript:void(0)') CAM-3
    
    div.flex.flex-col.gap-12.justify-center
      a#reset.p-12.bg-gray-500.text-7xl.font-bold(class="hover:bg-gray-400" href='javascript:void(0)') RESET
      
      a#focus.p-12.bg-gray-500.text-7xl.font-bold(class="hover:bg-gray-400" href='javascript:void(0)') Focus
      
      a#total.p-12.bg-gray-500.text-7xl.font-bold(class="hover:bg-gray-400" href='javascript:void(0)') Totál
      
      a#kozeli.p-12.bg-gray-500.text-7xl.font-bold(class="hover:bg-gray-400" href='javascript:void(0)') Közeli
        
    script(src='/socket.io/socket.io.js')
    script
      include ../static/script.js
