@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--color-red: #FB0018;
	--color-green: #53C43D;
	--color-icon: #fdf951;
}


dialog {
	&::backdrop {
		background-color: #000e;
	}
}

#onAir.streaming {
	color: var(--color-red);
}
#dskRec.streaming {
	color: var(--color-red);
}
#dskRec .sd-card {
	background: center no-repeat url(/static/images/sd-card.svg);
}
#dskRec.streaming .sd-card {
	background: center no-repeat url(/static/images/sd-card-red.svg);
}

#onAir-frame.streaming {
	border-color: var(--color-red);
}

